/* 전역 */
a {
    text-decoration : none;
}
html , body {
    height: 100%;
}
/* 배경색 */
.background {
    /* background-color: #fafafa; */
}

.container {
    border : solid;
}
/* MAIN */
main {

}
main .article {
    max-width : 980px;
    padding-bottom : 32px;
    margin : 32px auto 0;
    display : flex;
    flex-direction: row;
    height: 600px;
}
main .article .main-left {
    width : 50%;
    flex-shrink : 1;
    margin : 0 0 0 40px;
    
}
.phoneImg {
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png");
    background-size: 454px 618px;
    background-position: 0 0;
    height: 618px;
    align-self: center;
    flex-basis: 454px;
    margin-left: -35px;
    margin-right: -10px;
}
.innerImgs {
    /* margin: 99px 0 0 151px; */
    position: relative;
}
.innerImgs .innerImg {
    height: 427px;
    width : 240px;
    left : 0;
    top : 0;
    z-index: 0;
}
.imgVisible {
    visibility: hidden;
}

main .article .main-right {
    margin : 0 40px 0 0;
    flex-shrink: 1;
    width : 50%;
}
/* FOOTER */
footer {
    background-color : green;
    height: 100px;
    overflow: auto;
}